source/AcceptanceTests/Drivers/Ebix/EbixReference.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:www:datahub:dk:b2b:service:v01" xmlns:ns0="urn:www:datahub:dk:b2b:v01" name="Untitled" targetNamespace="urn:www:datahub:dk:b2b:service:v01" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:b2b="urn:www:datahub:dk:b2b:v01" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:www:datahub:dk:b2b:v01" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="DequeueMessageRequest_Type">
        <xs:sequence>
          <xs:element name="MessageId" type="b2b:MessageId_Type" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DequeueMessageResponse_Type" />
      <xs:complexType name="GetMessageIdsRequest_Type">
        <xs:sequence>
          <xs:element name="From" type="b2b:DateTime_Type" />
          <xs:element name="To" type="b2b:DateTime_Type" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetMessageIdsResponse_Type">
        <xs:sequence>
          <xs:element name="MessageIdList" type="b2b:MessageIdList_Type" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetMessageRequest_Type">
        <xs:sequence>
          <xs:element name="MessageId" type="b2b:MessageId_Type" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="GetMessageResponse_Type">
        <xs:sequence>
          <xs:element name="MessageContainer" type="b2b:MessageContainer_Type" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="MessageContainer_Type">
        <xs:sequence>
          <xs:element name="MessageReference" type="b2b:MessageReference_Type" />
          <xs:element name="DocumentType" type="b2b:DocumentType_Type" />
          <xs:element name="MessageType" type="b2b:MessageType_Type" />
          <xs:element name="Payload" type="b2b:Payload_Type" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="MessageIdList_Type">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="MessageId" type="b2b:MessageId_Type" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Payload_Type">
        <xs:sequence>
          <xs:any namespace="##any" processContents="strict" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="PeekMessageRequest_Type" />
      <xs:complexType name="PeekMessageResponse_Type">
        <xs:sequence>
          <xs:element minOccurs="0" name="MessageContainer" type="b2b:MessageContainer_Type" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryDataRequest_Type">
        <xs:sequence>
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" processContents="strict" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="QueryDataResponse_Type">
        <xs:sequence>
          <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" processContents="strict" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SendMessageRequest_Type">
        <xs:sequence>
          <xs:element name="MessageContainer" type="b2b:MessageContainer_Type" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SendMessageResponse_Type">
        <xs:sequence>
          <xs:element name="MessageId" type="b2b:MessageId_Type" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="DequeueMessageRequest" type="b2b:DequeueMessageRequest_Type" />
      <xs:element name="DequeueMessageResponse" type="b2b:DequeueMessageResponse_Type" />
      <xs:element name="GetMessageIdsRequest" type="b2b:GetMessageIdsRequest_Type" />
      <xs:element name="GetMessageIdsResponse" type="b2b:GetMessageIdsResponse_Type" />
      <xs:element name="GetMessageRequest" type="b2b:GetMessageRequest_Type" />
      <xs:element name="GetMessageResponse" type="b2b:GetMessageResponse_Type" />
      <xs:element name="PeekMessageRequest" type="b2b:PeekMessageRequest_Type" />
      <xs:element name="PeekMessageResponse" type="b2b:PeekMessageResponse_Type" />
      <xs:element name="QueryDataRequest" type="b2b:QueryDataRequest_Type" />
      <xs:element name="QueryDataResponse" type="b2b:QueryDataResponse_Type" />
      <xs:element name="SendMessageRequest" type="b2b:SendMessageRequest_Type" />
      <xs:element name="SendMessageResponse" type="b2b:SendMessageResponse_Type" />
      <xs:element name="CData" type="b2b:CData_Type" />
      <xs:simpleType name="DateTime_Type">
        <xs:restriction base="xs:dateTime" />
      </xs:simpleType>
      <xs:simpleType name="DocumentType_Type">
        <xs:restriction base="xs:string">
          <xs:maxLength value="200" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="MessageId_Type">
        <xs:restriction base="xs:string">
          <xs:maxLength value="35" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="MessageReference_Type">
        <xs:restriction base="xs:string">
          <xs:maxLength value="35" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="MessageType_Type">
        <xs:restriction base="xs:string">
          <xs:enumeration value="XML" />
          <xs:enumeration value="EDIFACT" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="CData_Type">
        <xs:restriction base="xs:string" />
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="SendMessageRequest">
    <wsdl:part name="parameters" element="ns0:SendMessageRequest" />
  </wsdl:message>
  <wsdl:message name="SendMessageResponse">
    <wsdl:part name="parameters" element="ns0:SendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="GetMessageRequest">
    <wsdl:part name="parameters" element="ns0:GetMessageRequest" />
  </wsdl:message>
  <wsdl:message name="GetMessageResponse">
    <wsdl:part name="parameters" element="ns0:GetMessageResponse" />
  </wsdl:message>
  <wsdl:message name="GetMessageIdsRequest">
    <wsdl:part name="parameters" element="ns0:GetMessageIdsRequest" />
  </wsdl:message>
  <wsdl:message name="GetMessageIdsResponse">
    <wsdl:part name="parameters" element="ns0:GetMessageIdsResponse" />
  </wsdl:message>
  <wsdl:message name="QueryDataRequest">
    <wsdl:part name="parameters" element="ns0:QueryDataRequest" />
  </wsdl:message>
  <wsdl:message name="QueryDataResponse">
    <wsdl:part name="parameters" element="ns0:QueryDataResponse" />
  </wsdl:message>
  <wsdl:message name="PeekMessageRequest">
    <wsdl:part name="parameters" element="ns0:PeekMessageRequest" />
  </wsdl:message>
  <wsdl:message name="PeekMessageResponse">
    <wsdl:part name="parameters" element="ns0:PeekMessageResponse" />
  </wsdl:message>
  <wsdl:message name="DequeueMessageRequest">
    <wsdl:part name="parameters" element="ns0:DequeueMessageRequest" />
  </wsdl:message>
  <wsdl:message name="DequeueMessageResponse">
    <wsdl:part name="parameters" element="ns0:DequeueMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="marketMessagingB2BServiceV01PortType">
    <wsdl:operation name="sendMessage">
      <wsdl:input message="tns:SendMessageRequest" />
      <wsdl:output message="tns:SendMessageResponse" />
    </wsdl:operation>
    <wsdl:operation name="getMessage">
      <wsdl:input message="tns:GetMessageRequest" />
      <wsdl:output message="tns:GetMessageResponse" />
    </wsdl:operation>
    <wsdl:operation name="getMessageIds">
      <wsdl:input message="tns:GetMessageIdsRequest" />
      <wsdl:output message="tns:GetMessageIdsResponse" />
    </wsdl:operation>
    <wsdl:operation name="queryData">
      <wsdl:input message="tns:QueryDataRequest" />
      <wsdl:output message="tns:QueryDataResponse" />
    </wsdl:operation>
    <wsdl:operation name="peekMessage">
      <wsdl:input message="tns:PeekMessageRequest" />
      <wsdl:output message="tns:PeekMessageResponse" />
    </wsdl:operation>
    <wsdl:operation name="dequeueMessage">
      <wsdl:input message="tns:DequeueMessageRequest" />
      <wsdl:output message="tns:DequeueMessageResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="marketMessagingB2BServiceV01HTTPEndpointBinding" type="tns:marketMessagingB2BServiceV01PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sendMessage">
      <soap:operation soapAction="sendMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="parameters" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMessage">
      <soap:operation soapAction="getMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="parameters" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMessageIds">
      <soap:operation soapAction="getMessageIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="parameters" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryData">
      <soap:operation soapAction="queryData" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="parameters" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="peekMessage">
      <soap:operation soapAction="peekMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="parameters" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dequeueMessage">
      <soap:operation soapAction="dequeueMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" parts="parameters" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="parameters" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="marketMessagingB2BServiceV01">
    <wsdl:port name="marketMessagingB2BServiceV01HTTPEndpoint" binding="tns:marketMessagingB2BServiceV01HTTPEndpointBinding">
      <soap:address location="https://b2b.datahub.dk:443/marketmessaging" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>